# Logs
*/logs/*
*.log
yarn-error.log*
yarn-debug.log*
npm-error.log*
npm-debug.log*
pnpm-error.log*
pnpm-debug.log*

# Folders
archives/
.env
node_modules
dist/
dist_ssr/

# VScode
.vscode/*
!.vscode/extensions.json
!.vscode/setting.json

# Misc
.DS_Store